[
	{
		'name': "MySQL",
		'alias': "Some DBMS",
		'version': "CE 8.0.13",
		'docker': 'MySQL',
		'docker_alias': "DBMS A",
		'hostsystem': {'node': 'localhost'},
		'info': "This is an example: MySQL on localhost",
		'active': True,
		'JDBC': {
			'driver': "com.mysql.cj.jdbc.Driver",
			'url': "jdbc:mysql://localhost:3306/database",
			'auth': ["username", "password"],
			'jar': "mysql-connector-java-8.0.13.jar"
		},
	},
]
