{
	'name': 'Demo queries',
	'queries':
	[
		{
			'title': "Get constant",
			'query': "SELECT 1",
			'active': True,
			'numWarmup': 5,
			'numRun': 10,
			'timer':
			{
				'datatransfer':
				{
					'active': True,
					'store' : 'csv'
				},
				'connection':
				{
					'active': True,
				}
			}
		},
	]
}