JayDeBeApi>=1.1.1
matplotlib>=3.1.1
numpy>=1.22.2
pandas>=2.1
tabulate>=0.8.2
tqdm>=4.28.1
requests>=2.32.0
JPype1>=1.2.0
scipy>=1.4.1
colour>=0.1.5
Brotli>=1.0.7
certifi>=2023.7.22
chardet>=3.0.4
click>=6.7
colour>=0.1.5
cycler>=0.10.0
dash>=2.15.0
dash-auth
dash-core-components
dash-daq
dash-html-components
dash-renderer
dash-table
Flask==2.2.5
Flask-Caching
future>=0.18.2
idna>=2.9
itsdangerous>=1.1.0
kiwisolver>=1.2.0
MarkupSafe>=1.1.1
plotly>=4.8.1
pyparsing>=2.4.7
python-dateutil>=2.8.1
pytz>=2020.1
retrying>=1.3.3
six>=1.14.0
#urllib3==1.26.19 # old fix because newer versions do not work
urllib3>=2.2.2
uuid>=1.30
Werkzeug>=3.0.6
#m2r2
#myst_parser
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
Bottleneck>=1.4.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
