{
	'name': 'Demo query',
	'connectionmanagement': {
	  'timeout': 600,
	  'numProcesses': 1,
	  'runsPerConnection': 5
	},
	'queries':
	[
		{
		  'title': "Count rows in nation",
		  'query': "SELECT COUNT(*) c FROM nation",
		  'active': True,
		  'numRun': 20,
		  'timer':
		  {
		    'datatransfer':
		    {
		      'active': True,
		      'sorted': True,
		      'compare': 'result',
		      'store': 'dataframe',
		      'precision': 4,
		    },
		    'connection':
		    {
		      'active': True,
		    }
		  }
		},
	]
}