{
	'name': "The TPC-DS Queries",
	'intro': "This includes the reading queries of TPC-DS.",
	'factor': 'mean',
	'connectionmanagement': {
		'timeout': 6000,
		'numProcesses': 1,
		'runsPerConnection': 0
	},
  	'reporting':
	{
		'resultsetPerQuery': True,
		'resultsetPerQueryConnection': "differing",
		'queryparameter': True,
	},
	'queries':
	[
		{
			'title': "Pricing Summary Report (TPC-H Q1)",
			'query': """with customer_total_return as
(select sr_customer_sk as ctr_customer_sk
,sr_store_sk as ctr_store_sk
,sum({AGG_FIELD}) as ctr_total_return
from store_returns
,date_dim
where sr_returned_date_sk = d_date_sk
and d_year ={YEAR}
group by sr_customer_sk
,sr_store_sk)
select c_customer_id
from customer_total_return ctr1
,store
,customer
where ctr1.ctr_total_return > (select avg(ctr_total_return)*1.2
from customer_total_return ctr2
where ctr1.ctr_store_sk = ctr2.ctr_store_sk)
and s_store_sk = ctr1.ctr_store_sk
and s_state = '{STATE}'
and ctr1.ctr_customer_sk = c_customer_sk
order by c_customer_id
limit 100""",
			'parameter': {
				'AGG_FIELD': {
					'type': "list",
					'range': ["SR_RETURN_AMT","SR_FEE","SR_REFUNDED_CASH","SR_RETURN_AMT_INC_TAX","SR_REVERSED_CHARGE","SR_STORE_CREDIT","SR_RETURN_TAX"]
				},
				'STATE': {
					'type': "list",
					'range': ["TN"]
				},
				'YEAR': {
					'type': "integer",
					'range': [1998,2002]
				},
			},
			'active': True,
			'numWarmup': 0,
			'numCooldown': 0,
			'numRun': 10,
			'timer':
			{
				'datatransfer':
				{
					'active': True,
					'sorted': True,
					'compare': 'result',
					'store': [],
					'precision': 0,
				},
				'connection':
				{
					'active': True,
				}
			}
		},
	]
}